@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    /* Name: Regent Gray color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #000428, #004e92);
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 5% 95.4%;
    --secondary-foreground: 249 7% 10.8%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }
}
.dark {
  /* Name: Regent Gray color palette
       Author: Ilias Ism
       URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  /* Name: Regent Gray color palette
       Author: Ilias Ism
       URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: linear-gradient(to top left, #536976, #292e49);

  --background: 215 11.05% 3.2%;
  --foreground: 215 1.7000000000000002% 97%;

  --muted: 215 8.5% 12%;
  --muted-foreground: 215 1.7000000000000002% 54%;

  --popover: 215 61.6% 5.2%;
  --popover-foreground: 215 1.7000000000000002% 97%;

  --card: 215 61.6% 5.2%;
  --card-foreground: 215 1.7000000000000002% 97%;

  --border: 215 8.5% 12%;
  --input: 215 8.5% 12%;

  --primary: 215 17% 40%;
  --primary-foreground: 215 1.7000000000000002% 97%;

  --secondary: 215 8.5% 12%;
  --secondary-foreground: 215 1.7000000000000002% 97%;

  --accent: 215 8.5% 12%;
  --accent-foreground: 215 1.7000000000000002% 97%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 215 1.7000000000000002% 97%;

  --ring: 215 17% 40%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
