@import "tailwindcss";

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {

    --gradient: linear-gradient(to top left, #000428, #004e92);
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 5% 95.4%;
    --secondary-foreground: 249 7% 10.8%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }
}
.dark {
 
  --gradient: linear-gradient(to top left, #536976, #292e49);

  --background: 215 11.05% 3.2%;
  --foreground: 215 1.7000000000000002% 97%;

  --muted: 215 8.5% 12%;
  --muted-foreground: 215 1.7000000000000002% 54%;

  --popover: 215 61.6% 5.2%;
  --popover-foreground: 215 1.7000000000000002% 97%;

  --card: 215 61.6% 5.2%;
  --card-foreground: 215 1.7000000000000002% 97%;

  --border: 215 8.5% 12%;
  --input: 215 8.5% 12%;

  --primary: 215 17% 40%;
  --primary-foreground: 215 1.7000000000000002% 97%;

  --secondary: 215 8.5% 12%;
  --secondary-foreground: 215 1.7000000000000002% 97%;

  --accent: 215 8.5% 12%;
  --accent-foreground: 215 1.7000000000000002% 97%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 215 1.7000000000000002% 97%;

  --ring: 215 17% 40%;
}


@utility container {
  margin-inline: auto;
  padding-inline: 20px;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 375px) {
    max-width: 375px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1200px) {
    max-width: 1200px;
    padding-inline: 80px;
  }
}


.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-coffee: url("/assets/coffee-bean.jpg");
  --background-image-web: url("/assets/web.webp");
  --background-image-data: url("/assets/analyst-post.avif");
  --background-image-teaching: url("/assets/teaching.webp");

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
